
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/4243021-abstract-template-background-white-and-bright-blue-square-overlapping-with-halftone-and-texture-gratis-vetor.jpg) ;
}
body h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline  aqua;
}
.content{
    background-color: rgba(46, 46, 46, 0.534);
    position: absolute;
    padding: 60px;
    display: block;
    justify-content: center;
    align-items: center;
    top: 50%; /* Move o elemento para o centro vertical */
    left: 50%; /* Move o elemento para o centro horizontal */
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
input{
    height: 7vh;
    width: 40vh;
    border: none;
    border-radius: 7px;
    
}
button{
    height: 7vh;
    width: 40vh;
    border-radius: 5px;
    border: none;
    color: white;
    background-color:  aqua;
    transition: 0.2s;
    
}
button:hover{
    background-color:  rgb(90, 243, 243);
    transition: 0.2s;
}
label ,h1,p{
    color: white;
}
p a{
    text-decoration: none;
    color: aqua;
    transition: 0.2s;
}
p a:hover{
    text-decoration: underline;
    color: rgb(66, 247, 247);
    transition: 0.2s;
}